Babel==2.9.0
bracex==2.0.1
click==7.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.12
Jinja2==2.11.3
joblib==1.0.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
markdown-include==0.6.0
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-awesome-pages-plugin==2.5.0
mkdocs-git-revision-date-localized-plugin==0.8
mkdocs-material==6.2.7
mkdocs-material-extensions==1.0.1
mkdocs-redirects==1.0.1
mkdocs-rss-plugin==0.12.0
mkdocs-static-i18n==0.1
nltk==3.5
Pygments==2.7.4
pymdown-extensions==8.1.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
six==1.15.0
smmap==3.0.5
tornado==6.1
tqdm==4.56.0
wcmatch==8.0.1
